body {
  background-color: rgb(30, 30, 30);
}

.jumbo {
  margin-top: 4vh;
  /*background: rgba(10, 10, 10, 0.6) url("../champArt/Aatrox.jpg");*/
  background-size: cover;
  background-blend-mode: darken;
  margin-bottom: 4vh;
}

.jumbo h1 {
  color: rgb(219, 219, 219);
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.jumbo p {
  color: rgb(219, 219, 219);
  font-size: 8px;
  font-size: 1.5rem;
}

.hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {

  /*.jumbo {
    background-image: url("../champArt/Aatrox.jpg");
    background-size: cover;
  }*/
  .jumbo h1 {
    color: rgb(219, 219, 219);
    font-size: calc(1.425rem + 2.1vw);
  }

  .jumbo p {
    color: rgb(219, 219, 219);
    font-size: 1em !important;
  }
}

/* Matchups */
.card {
  border: none;
  background-color: rgb(7, 7, 32);
  margin-bottom: 60px;
}

.card-head {
  text-align: center;
}

.card h2 {
  font-size: calc(1rem + 1.5vw);
  color: rgb(206, 206, 206);
}

.card h3 {
  margin-top: 20px;
  font-size: calc(1rem);
  color: rgb(165, 165, 165);
}

.container p {
  color: rgb(255, 255, 255);
  font-size: calc(1.425rem + 2.1vw);
  text-align: center;
  margin: 15px 0px 20px 0px;
  align-items: center;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.matchup-card {
  align-items: center;
  text-align: center;
}

a.name {
  font-size: 100%;
  color: #ffc400;
  margin-bottom: 5px;
  text-decoration: none;
  font-weight: bolder;
}

a.name:hover {
  text-decoration: underline;
}

p.winRate {
  font-size: 70%;
  margin: 0px;
}

p.goldDiff {
  font-size: 70%;
  margin: 0px;
}

.matchup-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-height: 75%;
}

.matchup-card:hover {
  outline-style: solid;
  /* outline-radius: 10px; */
  outline-width: 1.2px;
  outline-color: #ffc400;
  outline-offset: -2px;
}

td p {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

#chtbnm {
  color: white;
  text-decoration: none;
}

#chtbnm:hover {
  text-decoration: underline;
}